#header {
  display: flex;
  align-items: center;
  height: 44px;
  background: #31c27c; }
  #header #logo {
    height: 25px;
    margin: 10px; }

* {
  margin: 0;
  padding: 0; }

*::before {
  box-sizing: border-box; }

*::after {
  box-sizing: border-box; }

ul,
ol {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

body {
  font-family: -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
  font-size: 14px; }

.navbar .nav-list {
  display: flex; }
  .navbar .nav-list .nav-item {
    flex: 1;
    line-height: 24px;
    padding: 8px 0;
    text-align: center;
    color: rgba(0, 0, 0, 0.6); }
    .navbar .nav-list .nav-item.active {
      color: #31c27c;
      position: relative; }
    .navbar .nav-list .nav-item.active::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: #31c27c; }

.swiper-slide {
  min-height: 130px; }
  .swiper-slide img {
    width: 100%; }

.swiper-pagination-bullet-active {
  background: white; }

.content_wrapper > div {
  display: none; }
.content_wrapper .active {
  display: block; }

.mod_list {
  margin: 5px 10px 7px 10px; }
  .mod_list .mod_title {
    font-size: 16px;
    color: #000;
    margin-bottom: 11px;
    font-weight: normal; }
  .mod_list ul {
    overflow: hidden; }
    .mod_list ul .list_content {
      float: left;
      width: 49%;
      margin: 0.5%; }
      .mod_list ul .list_content a {
        display: block;
        background: white; }
        .mod_list ul .list_content a .list_media {
          position: relative; }
          .mod_list ul .list_content a .list_media img {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            display: block; }
          .mod_list ul .list_content a .list_media::before {
            content: "";
            display: block;
            padding-top: 100%; }
          .mod_list ul .list_content a .list_media .list_icon {
            height: 24px;
            width: 24px;
            position: absolute;
            bottom: 5px;
            right: 5px;
            background: url("../images/list_sprite.png");
            background-repeat: no-repeat;
            background-size: 24px 60px; }
        .mod_list ul .list_content a .list_text {
          padding: 5px 0 31px 7px; }
          .mod_list ul .list_content a .list_text h3 {
            color: #000;
            font-weight: normal;
            line-height: 18px;
            font-size: 14px; }

.mod_special {
  margin: 5px 10px 7px 10px; }
  .mod_special .mod_title {
    font-size: 16px;
    color: #000;
    margin-bottom: 11px;
    font-weight: normal; }
  .mod_special ul {
    overflow: hidden; }
    .mod_special ul .mod_content {
      float: left;
      width: 49%;
      margin: 0.5%; }
      .mod_special ul .mod_content a {
        display: block;
        background: white; }
        .mod_special ul .mod_content a .mod_media {
          position: relative; }
          .mod_special ul .mod_content a .mod_media img {
            position: absolute;
            width: 100%;
            top: 0;
            left: 0;
            display: block; }
          .mod_special ul .mod_content a .mod_media::before {
            content: "";
            display: block;
            padding-top: 100%; }
          .mod_special ul .mod_content a .mod_media .mod_icon {
            height: 24px;
            width: 24px;
            position: absolute;
            bottom: 5px;
            right: 5px;
            background: url("../images/list_sprite.png");
            background-repeat: no-repeat;
            background-size: 24px 60px; }
          .mod_special ul .mod_content a .mod_media .moun_count i {
            height: 14px;
            width: 20px;
            position: absolute;
            bottom: 5px;
            left: 5px;
            background: url("../images/list_sprite1.png");
            background-repeat: no-repeat;
            background-size: 14px 12px; }
          .mod_special ul .mod_content a .mod_media .moun_count span {
            position: absolute;
            bottom: 2px;
            left: 22px;
            color: white; }
        .mod_special ul .mod_content a .mod_text {
          padding: 5px 0 5px 7px; }
          .mod_special ul .mod_content a .mod_text h3 {
            color: #000;
            font-weight: normal;
            line-height: 18px;
            font-size: 14px; }
          .mod_special ul .mod_content a .mod_text p {
            margin-top: 6px; }

body {
  background: #f4f4f4; }

/*# sourceMappingURL=app.css.map */
