.qq-slider{
    width: 100%;
    overflow: hidden;
    .qq-slider-wrap{
        display: flex;
        width: 500%;
        .qq-slider-item{
            a{
                display: block;
                img{
                    width: 100%;
                }
            }
        }
    }
}