$header-height: 44px;
$header-background: #31c27c;

$logo-header: 25px;

$body-background: #f4f4f4;

$nav-itme-color: rgba(0, 0, 0, 0.6);
$nav-itme-active: #31c27c;

$mod-title-size: 16px;
$mod-title-color: #000;
